*{
	padding: 0;
	margin: 0;
	list-style: none;
	text-decoration: none;
}
a:hover{
	text-decoration: none;
}
header{
	height: 600px;
	background: url('../img/bg3D.jpg') no-repeat -300px -130px;
}
.header_top{
	width: 100%;
	height: 84px;
	border-bottom: 1px solid #393D40;
}
.header_top .left{
	width: 160px;
	height: 64px;
	padding: 20px 0 10px 0;
	float: left;
	margin-left: 180px;
	margin-right: 164px;
}
.header_top .left img{
	display: block;
	width: 125px;
	height: 53px;
}
.header_top .center{
	width: 550px;
	height: 84px;
	float: left;
	display: flex;
	padding: 0;
	justify-content: space-between;
}
.header_top .center li{
	width: 58px;
	height: 100%;
	float: left;
	font-size: 14px;
	color: #fff;
	line-height: 84px;
}
.header_top .center li:hover{
	border-bottom: 1px solid #5DDFFE;
	color: #5DDFFE;
}
.header_top .right{
	height: 84px;
	float: right;
	line-height: 84px;
	font-size: 16px;
	margin-right: 140px;
}
.header_top .right i{
	color: #fff;
	display: inline-block;
	float: right
}
.header_top .right span{
	display: inline-block;
	float: right;
	color: #fff;
}
.center1{
	width: 520px;
	height: 200px;
	padding-top: 150px;
	color: #fff;
	margin-left: 180px;
}
.center1 span{
	display: block;
}
.center1 .word1{
	font-size: 48px;
	font-weight: normal;
	font-style: normal;
}
.center1 .word2{
	font-size: 16px;
	color: #C6C7C8;
	line-height: 50px;
}
.center1 a{
	display: block;
	width: 112px;
	height: 39px;
	border: 1px solid #5DDFFE;
	font-size: 13px;
	line-height: 39px;
	color: #5DDFFE;
	text-align: center;
	margin-top: 20px;
}
.center1 a:hover{
	background: #fff;
	color: #000;
}
nav{
	width: 100%;
	height: 150px;
	background: #282C35;
}
nav ul{  
	width: 1454px;
	height: 100%;
	margin: 0 auto;
	display: flex;
}
nav li{
	width: 490px;
	height: 100px;
	border-left: 1px solid #3E4551;
	padding-top: 50px;
	background: #282C35;
}
nav li:last-child{
	border-right: 1px solid #3E4551;
}
nav .left1{
	display: block;
	float: left;
	width: 55px;
	height: 55px;
	margin-right: 23px;
	margin-left: 23px;
}
nav .right1{
	width: 275px;
	height: 68px;
	display: block;
	float: left;
	color: #fff;
}
nav .right1 .top1{
	height: 25px;
	display: block;
	font-size: 18px;
	padding-top: 5px;
}
nav .right1 .bottom{
	display: block;
	font-size: 12px;
	padding-top: 2px;
}
main{
	height: 540px;
}
.top{
	width: 1454px;
	height: 175px;
	border-bottom: 1px solid #E5E5E5;
	overflow: hidden;
	margin: 0 auto;
}
.top .left{
	float: left;
}
.top .right{
	display: block;
	width: 98px;
	height: 34px;
	background: #5DDFFE;
	color: #fff;
	float: right;
	font-size: 15px;
	margin-top: 106px;
	line-height: 34px;
	text-align: center;
}
.top a:hover{
	background: #fff;
	color: #5DDFFE; 
	border: 1px solid #5DDFFE;
}
.top span{
	display: block;
}
.top .word1{
	font-size: 23px;
	color: #575757;
	margin-top: 106px;
}
.top .word2{
	font-size: 15px;
	color: #C9C9C9;
}
main .bottom{
	width: 1454px;
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
}
main .bottom li{
	width: 460px;
	height: 330px;
	background: #F2F2F2;
	margin-top: 35px;
	overflow: hidden;
}
main .bottom li:hover{
	background-color: transition;
	color: #fff;
}
main .bottom li:first-child:hover{
	background: url('../img/4.png') no-repeat center;
	background-size: auto 100%;
}
main .bottom li:nth-child(2):hover{
	background: url('../img/5.jpg') no-repeat center;
	background-size: auto 100%;
}
main .bottom li:last-child:hover{
	background: url('../img/6.png') no-repeat center;
	background-size: auto 100%;
}
main .bottom li:hover .top1,main .bottom li:hover .top2{
	color: #fff;
}
main .bottom li:hover .top11{
	transform: translateY(-20px);
}
main .bottom li:hover .bottom11{
	background-color: rgba(242, 242, 242, .3);
}
main .bottom .top11{
	height: 220px;
	padding: 70px 30px 0 26px;
	box-sizing: border-box;
	transition: all .36s;
}
main .bottom .bottom11{
	height: 110px;
	padding: 0 30px 0 26px;
	border-top: 1px solid #CCCCCC;
	overflow: hidden;
	position: relative;
	cursor: pointer;
}
main .bottom .bottom11 .bottom1{
	display: block;
	width: 38px;
	height: 32px;
	border: 1px solid #fff;
	color: #fff;
	font-size: 18px;
	text-align: center;
	position: absolute;
	right: -35px;
	bottom: 39px;
	transition: all .36s;
}
main .bottom li:hover .bottom1{
	transform: translateX(-70px);
}
main .bottom span{
	display: block;
}
main .bottom .top1{
	font-size: 16px;
	color: #2D2D2D;
	white-space:nowrap;  
	overflow:hidden;  
	text-overflow:ellipsis;
}
main .bottom .top2{
	font-size: 13px;
	color: #909090;
	line-height: 40px;
}
main .bootom li p{
	font-size: 13px;
	color: #909090;
}
section .section_bottom{
	width: 1454px;
	height: 577px;
	margin: 30px auto 0;
	display: flex;
	justify-content: space-between;
}
section .section_bottom .left{
	width: 783px;
	height: 100%;
}
section .section_bottom .left_top{
	height: 382px;
	background: url('../img/4.png') no-repeat center;
	background-size: 100% 100%; 
}
section .section_bottom .left_bottom{
	height: 195px;
	background: #F2F2F2;
	overflow: hidden;
}
section .section_bottom .left_bottom .word{
	width: 688px;
	height: 83px;
	margin: 58px 0 0 58px;
}
section .section_bottom .left_bottom span{
	display: block;
	font-size: 19px;
	color: #868686;
}
section .section_bottom .left_bottom p{
	font-size: 13px;
	color: #aaa;
	line-height: 25px;
}
section .section_bottom .right{
	width: 657px;
	height: 100%;
}
section .section_bottom .right li{
	width: 653px;
	height: 136px;
	margin-bottom: 12px;
	background: #F3F3F3;
	overflow: hidden;
}
section .section_bottom .right li img{
	display: block;
	width: 171px;
	height: 84px;
	margin: 25px 0 0 25px;
	float: left;
}
section .section_bottom .right li .word{
	width: 430px;
	height: 136px;
	margin-left: 25px;
	float: left;
	padding-top: 22px;
}
section .section_bottom .right li .word span{
	display: block;
	font-size: 20px;
	color:#7f7f7f;
}
section .section_bottom .right li .word p{
	width: 400px;
	display: block;
	font-size: 13px;
	color:#7f7f7f;
	margin-top: 13px;
	line-height: 20px;
}
section .table1{
	width: 1454px;
	height: 126px;
	margin: 30px auto 122px;
	display: flex;
	justify-content: space-between;
}
section .table1 li{
	width: 363px;
	height: 126px;
	border: 1px solid #EDEDED;
}
section .table1 li span{
	display: block;
	font-size: 36px;
	margin-top: 26px;
	color: #828596;
	text-align: center;
}
section .table1 li p{
	display: block;
	font-size: 17px;
	margin-top: 4px;
	color: #8B8B8B;
	text-align: center;
}
.through{
	width: 100%;
	height: 458px;
	background: #54c9e0;
	overflow: hidden;
}
.through .through1{
	width: 942px;
	height: 200px;
	margin: 133px auto 0;
	overflow: hidden;
	position: relative;
}
.through .through1 p{
	font-size: 15px;
	line-height: 31px;
	color: #fff;
	margin-top: 43px;
}
.through .through_btn{
	width: 38px;
	height: 10px;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
}
.through .through_btn li{
	width: 10px;
	height: 10px;
	margin-right: 8px;
	background:#8e72c1;
	float: left;
}
.team{
	width: 1454px;
	height: 905px;
	margin: 0 auto;
	overflow: hidden;
}
.team .team1{
	width: 100%;
	height: 729px;
	display: flex;
	margin-top: 30px;
}
.team .team1 li{
	width: 25%;
	height: 100%;
	background: #F2F2F2;
}
.team .team1 li .center{
	width: 23px;
	height: 2px;
	background: #5ddffe;
	margin: 0 auto;
}
.team .team1 li .top,.team .team1 li .bottom{
	width: 364px;
	height: 364px;
}
.team .team1 li:first-child .top{
	background: url('../img/team1.jpg');
	margin-bottom: 48px;
}
.team .team1 li:first-child .bottom,.team .team1 li:nth-child(3) .bottom{
	height: 240px;
	margin-top: 76px;
	font-size: 18px;
	color: #767676;
	text-align: center;
}
.team .team1 li:nth-child(2) .top,.team .team1 li:last-child .top{
	height: 20px;
	padding-top: 141px;
	font-size: 18px;
	color: #767676;
	text-align: center;
	margin-bottom: 11px;
	border: none;
}
.team .team1 li:nth-child(2) .bottom{
	background: url('../img/team2.jpg');
	margin-top: 192px;
}
.team .team1 li:nth-child(3) .top{
	background: url('../img/team3.jpg');
	margin-bottom: 48px;
}
.team .team1 li:last-child .bottom{
	background: url('../img/team4.jpg');
	margin-top: 192px;
}
.service{
	width: 100%;
	height: 430px;
	background: #F2F2F2;
	margin-top: 10px;
}
.service .service1{
	width: 1454px;
	height: 150px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.service .service1 li{
	width: 16%;
	height: 50%;
	margin-bottom: 10px;
}
.service .service1 li img{
	display: block;
	width: 135px;
	height: 45px;
	margin: 20px auto 10px;
}
.Authentication{
	width: 100%;
	height: 272px;
	background: #29323D;
	overflow: hidden;
}
.Authentication1{
	width: 1190px;
	height: 180px;
	margin: 60px auto 0;
	display: flex;
}
.Authentication1 .list1{
	width: 300px;
	height: 160px;
	padding: 10px 30px 10px 10px;
}
.Authentication1 .list1 span,.Authentication1 .list2 span,
.Authentication1 .list3 span,.Authentication1 .list4 span{
	display: block;
	font-size: 18px;
	color: #fff;
	margin-bottom: 13px;
}
.Authentication1 .list1 p{
	font-size: 13px;
	color:#8d9095;
	line-height: 25px;
}
.Authentication1 .list2{
	width: 290px;
	height: 160px;
	padding: 10px;
}
.Authentication1 .list2 img{
	display: inline-block;
	width: 38px;
	height: 38px;
}
.Authentication1 .list2 .tu1{
	height: 50px;
	display: flex;
}
.Authentication1 .list2 .tu1 span{
	width: 227px;
	display: inline-block;
	font-size: 13px;
	color: #8d9095;
	padding-top: 11px;
	margin-bottom: 0;
}
.Authentication1 .list3{
	width: 290px;
	height: 160px;
	padding: 10px;
}
.Authentication1 .list3 p{
	font-size: 15px;
	color:#8d9095;
	line-height: 32px;
}
.Authentication1 .list4 img{
	display: block;
	width: 90px;
	height: 90px;
}
footer{
	width: 100%;
	height: 30px;
	padding-top: 20px;
	background: #19212D;
}
footer span{
	display: block;
	text-align: center;
	font-size: 13px;
	color: #696969;
}
aside ul{
	width: 54px;
	height: 216px;
	position: fixed;
	right: 0;
	top: 0;
	bottom: 0;
	margin-top: auto;
	margin-bottom: auto;
	background: #242E47;
}
aside a{
	display: block;
	width: 30px;
	height: 30px;
	padding: 12px;
	overflow: hidden;
	background: #242E47;
	transition: all .6s;
	position: relative;
}
aside a:last-child i{
	position: absolute;
	left: 2px;
	bottom: 12px;
}
aside .btn a i{
	display: inline-block;
	float: left;
	font-size: 30px;
	color: #fff;
}
aside .btn span{
	display: inline-block;
	float: left;
	font-size: 13px;
	color: #fff;
	padding-left: 15px;
	line-height: 30px;
}
aside a:hover{
	width: 150px;
	transform: translateX(-90px);
	background: #142038;
}
aside a:last-child:hover{
	width: 30px;
	transform: none;
	background: #142038;
}