*{
	padding: 0;
	margin: 0;
	list-style: none;
	text-decoration: none;
}
a:hover{
	text-decoration: none;
}
.header_top{
	width: 100%;
	height: 84px;
	border-bottom: 1px solid #393D40;
	background: #191919;
	overflow: hidden;
}
.header_top .left{
	width: 160px;
	height: 64px;
	padding: 20px 0 10px 0;
	float: left;
	margin-left: 180px;
	margin-right: 164px;
}
.header_top .left img{
	display: block;
	width: 125px;
	height: 53px;
}
.header_top .center{
	width: 550px;
	height: 84px;
	float: left;
	display: flex;
	padding: 0;
	justify-content: space-between;
}
.header_top .center li{
	width: 58px;
	height: 100%;
	float: left;
	font-size: 14px;
	color: #fff;
	line-height: 84px;
}
.header_top .center li:hover{
	border-bottom: 1px solid #5DDFFE;
	color: #5DDFFE;
}
.header_top .right{
	height: 84px;
	float: right;
	line-height: 84px;
	font-size: 16px;
	margin-right: 140px;
}
.header_top .right i{
	color: #fff;
	display: inline-block;
	float: right
}
.header_top .right span{
	display: inline-block;
	float: right;
	color: #fff;
}

.Authentication{
	width: 100%;
	height: 272px;
	background: #29323D;
	overflow: hidden;
}
.Authentication1{
	width: 1190px;
	height: 180px;
	margin: 60px auto 0;
	display: flex;
}
.Authentication1 .list1{
	width: 300px;
	height: 160px;
	padding: 10px 30px 10px 10px;
}
.Authentication1 .list1 span,.Authentication1 .list2 span,
.Authentication1 .list3 span,.Authentication1 .list4 span{
	display: block;
	font-size: 18px;
	color: #fff;
	margin-bottom: 13px;
}
.Authentication1 .list1 p{
	font-size: 13px;
	color:#8d9095;
	line-height: 25px;
}
.Authentication1 .list2{
	width: 290px;
	height: 160px;
	padding: 10px;
}
.Authentication1 .list2 img{
	display: inline-block;
	width: 38px;
	height: 38px;
}
.Authentication1 .list2 .tu1{
	height: 50px;
	display: flex;
}
.Authentication1 .list2 .tu1 span{
	width: 227px;
	display: inline-block;
	font-size: 13px;
	color: #8d9095;
	padding-top: 11px;
	margin-bottom: 0;
}
.Authentication1 .list3{
	width: 290px;
	height: 160px;
	padding: 10px;
}
.Authentication1 .list3 p{
	font-size: 15px;
	color:#8d9095;
	line-height: 32px;
}
.Authentication1 .list4 img{
	display: block;
	width: 90px;
	height: 90px;
}
footer{
	width: 100%;
	height: 30px;
	padding-top: 20px;
	background: #19212D;
}
footer span{
	display: block;
	text-align: center;
	font-size: 13px;
	color: #696969;
}
nav{
	width: 100%;
	height: 95px;
	overflow: hidden;
	background: #f7f7f7;
}
nav .nav_word{
	width: 300px;
	height: 23px;
	margin: 39px 0 0 150px;
}
nav .nav_word span{
	display: inline-block;
	font-size: 17px;
	color: #666666;
}
nav .nav_word p{
	display: inline-block;
	font-size: 17px;
	color: #5ddffe;
}
.service{
	width: 100%;
	height: 260px;
	padding-top: 50px;
}
.service .service1{
	width: 1350px;
	height: 150px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.service .service1 li{
	width: 16%;
	height: 50%;
	margin-bottom: 10px;
}
.service .service1 li img{
	display: block;
	width: 135px;
	height: 45px;
	margin: 20px auto 10px;
}
aside ul{
	width: 54px;
	height: 216px;
	position: fixed;
	right: 0;
	top: 0;
	bottom: 0;
	margin-top: auto;
	margin-bottom: auto;
	background: #242E47;
}
aside a{
	display: block;
	width: 30px;
	height: 30px;
	padding: 12px;
	overflow: hidden;
	background: #242E47;
	transition: all .6s;
	position: relative;
}
aside a:last-child i{
	position: absolute;
	left: 2px;
	bottom: 12px;
}
aside .btn a i{
	display: inline-block;
	float: left;
	font-size: 30px;
	color: #fff;
}
aside .btn span{
	display: inline-block;
	float: left;
	font-size: 13px;
	color: #fff;
	padding-left: 15px;
	line-height: 30px;
}
aside a:hover{
	width: 150px;
	transform: translateX(-90px);
	background: #142038;
}
aside a:last-child:hover{
	width: 30px;
	transform: none;
	background: #142038;
}
main{
	width: 1250px;
	height: 780px;
	margin: 30px auto 100px;
	display: flex;
	justify-content: space-between;
}
main .main_left{
	width: 260px;
	height: 220px;
	border: 1px solid #E2E2E2;
	padding: 32px;
}
main .main_right{
	width: 880px;
	height: 710px;
	border: 1px solid #E2E2E2;
	padding: 34px;
	margin-left: 30px;
}
main .main_left span{
	font-size: 25px;
	font-weight: bold;
}
main .main_left p{
	font-size: 15px;
	color: #BABABA;
	line-height: 25px;
}
main .main_left ul{
	border-top: 2px solid #B5B5B5;
	margin-top: 15px;
}
main .main_left li{
	padding: 12px 10px 12px 0;
	border-bottom: 1px solid #E0E0E0;
	font-size: 15px;
	line-height: 30px;
}
main .main_left li:hover {
	color: #5DDFFE;
}
main .main_left li:last-child{
	border: none;
}
main .main_right .left{
	width: 760px;
	height: 90px;
	float: left;
}
main .main_right .left span{
	font-size: 18px;
	font-weight: 400;
}
main .main_right .left p{
	font-size: 14px;
	color: #999;
	line-height: 50px;
}
main .main_right .right{
	width: 90px;
	height: 90px;
	float: right;
	overflow: hidden;
}
main .main_right li{
	width: 850px;
	height: 90px;
	padding-top: 12px;
	padding-bottom: 6px;
	border-bottom: 1px solid #EDEDED;
}
main .main_right li:hover .right img{
	transform: scale(1.2, 1.2);
}
main .main_right .right img{
	display: block;
	width: 90px;
	height: 90px;
	transition: all .36s;
}